<head>
	<style>
	body{background-color:#aaa;}
	button{background-color:#eee;border:2px solid black;border-radius:10px;min-width:10%;}
	input{min-width:89%;}
	.a,.b{font-size:20px;min-width:50%;display:block;padding-left:1%;}
	.a{background-color:#eee}
	.b{background-color:#ccc}
	.c{padding:1%;margin:1% 20%;background-color:#ace;border-radius:20px;}
	.d{overflow:hidden;border:2px solid black;border-radius:20px;margin-bottom:1%;}
	</style>
</head>
<body>
	<div class="c">
		<div class="d">
			<span class="a" id="0"><%=messages[0]%></span>
			<span class="b" id="1"><%=messages[1]%></span>
			<span class="a" id="2"><%=messages[2]%></span>
			<span class="b" id="3"><%=messages[3]%></span>
			<span class="a" id="4"><%=messages[4]%></span>
			<span class="b" id="5"><%=messages[5]%></span>
			<span class="a" id="6"><%=messages[6]%></span>
			<span class="b" id="7"><%=messages[7]%></span>
			<span class="a" id="8"><%=messages[8]%></span>
			<span class="b" id="9"><%=messages[9]%></span>
		</div>
		<form method="POST" action="http://73.223.68.236:8000/" autocomplete="off"> <? action="http://73.223.68.236:8000/" ?>
			<input id="message" type="text" name="message" autocomplete="off" placeholder="Start typing">
			<input id="key" type="text" hidden="true" name="key" autocomplete="off" placeholder="If you see this then something is wrong.">
			<button type="submit">Send</button>
		</form>
		<a>Not registered? Register <a href="register">here</a></a><br>
	</div>
	<script>
	let u = () => {
		return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
			(+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16)
		);
	}
	// generate key
	localStorage.k = localStorage.k || u();
	setInterval(() => {
		document.getElementById("key").value = localStorage.k;
	});
	document.getElementById("message").focus();
	setInterval(() => {
		let n = new XMLHttpRequest();
		n.onreadystatechange = () => {	
			if(n.readyState == 4 && n.status == 200){
				let q = JSON.parse(n.responseText);
				for(let i = 0; i < 10; i ++){
					document.getElementById(i).innerHTML = q[i] || "";
				}
			}
		}
		n.open("GET", "port", false);
		n.send();
	}, 10);
	</script>
</body>
