<head>
	<style>
	*{font-size:20px;}
	body{background-image:url("images/tile2.png");background-repeat:repeat;display:flex;flex-wrap:wrap;}
	button{background-color:#eee;border:2px solid black;border-radius:10px;min-width:10%;}
	input{min-width:80%;}
	.a,.b{font-size:20px;min-width:50%;display:block;padding-left:1%;}
	.a{background-color:#eee}
	.b{background-color:#ccc}
	.c{padding:1%;margin:1% 5%;background-color:#ace;border-radius:20px;flex:1;margin-top:0%;}
	.d{overflow:hidden;border:2px solid black;border-radius:20px;margin-bottom:1%;}
	.e{padding:1%;margin:1% 5%;background-color:#ace;border-radius:20px;flex:1;min-width:80%;min-height:30%;}
	a{display:inline;}
	h1{text-align:center;font-size:30px;}
	</style>
</head>
<body>
	<div class="c">
		<h1>Polls</h1>
		<a href="/">Home</a><br><br>
		<a>You get points if you have the same answer as the majority of peeople.</a>
	</div>
	<div class="e">
		<h2><%= poll.question %></h2>
		<a><%= poll.results.length %> responses collected.<a>
		<button id="a" onclick="let n=new XMLHttpRequest();n.open('POST','/poll?a=a&f=<%= localStorage.k %>',true);n.send();window.location.reload();"><%= poll.options[0] %></button>
		<button id="b" onclick="let n=new XMLHttpRequest();n.open('POST','/poll?a=b&f=<%= localStorage.k %>',true);n.send();window.location.reload();"><%= poll.options[1] %></button>
	</div>
</body>
